
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/TrangChu/head.cshtml";
}


<div class="header">

    <div class="navbar">
        <div class="navbar__left">



            <div style="justify-content: space-between;" class="navbar__menu">
                <i id="bars" class="fa fa-bars" aria-hidden="true"></i>
                <ul>
                    <li>@Html.ActionLink("Quản Lý Sản Phẩm", "Listsp", "Admin")</li>
                    <li>@Html.ActionLink("Quản Lý Đơn Hàng", "ListDonHang", "Admin")</li>
                    <li>@Html.ActionLink("Quản Lý Chi tiết đơn hàng", "Listchitiet", "Admin")</li>


                </ul>



            </div>

        </div>

</div>

